$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-text: #4f190b;

.header {
    background-color: rgb(240, 226, 207); 
    background-image: url(../images/bar.jpg);
    height: 320px;
    background-size: cover;
    border-bottom:15px solid $c-lines; 
  }
   
  .header__container{
    background-color: rgba(0,0,0, 0.4);
    border-bottom: 2px solid $c-lines;
    border-top: 2px solid $c-lines;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    top: 50px;
    width: 90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    
    @media screen and (min-width: 1000px) {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }}

  .header__subcontainer {
    display:flex;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
  }
 
  .header__heading {
    max-width: 300px; 
    max-height: 100px;
    text-align: left;
    color:$c-h1;
    font-size:120%;
    padding: 10px;

  @media screen and (min-width: 500px) {
    font-size: 2em;}

    @media screen and (min-width: 1000px) {
      margin-left:auto;
      margin-right: auto;
      max-width: 500px;
      max-height: 300px;
      margin: 0;
    
   }}
  
  .header__logo {
      width: 30%;
      height: 30%;

       @media screen and (min-width: 500px) {
        width: 100px;
       height: 100px;}}
      
       
.menu {
position:absolute;
  z-index: 2;
  right: -70px;
  height: 60px;


  @media screen and (min-width: 1000px) {
    display:none;
}}

.menu__checkbox {
      position: absolute;
      left: -9999px;}

.menu__toggler { cursor:pointer;}
  
.hamburger {
   width: 30%;}

.bar { 
display: inline-block;
width: 35px;
height: 5px;
background-color: $c-lines;;
border-radius: 10%;
margin-top: 5px;
}

  .menu__list {
      margin: 0;
      margin-right: 70px;
      margin-top: 85px;
      padding: 0;
      list-style: none;
      background-color: $c-lines;
      display:none; 
    
      @media screen and (min-width: 500px) {
      margin-top: 102px;
    }}

  
  .menu__item { border-bottom: 1px solid #4f190b;
  text-align:right;}
  
  .menu__link {
  display:block;
  padding: 15px;
  text-decoration: none;
  color: $c-primary;
  }

  .menu__link:hover {
      background-color: #4f190b; }

.menu__checkbox:checked {position:absolute;
top: 50px;}
  
.menu__checkbox:checked ~ .menu__list{
display:inline-block;
}




.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(1) {
  position:absolute;
  top: 25px;
  right: 75px;
  width: 45px;
  transform:rotate(45deg);
  }

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(2) {
     display:none;
  }

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(3) {
  position:absolute;
  top: 25px;
  right: 75px;
  width: 45px;
  transform:rotate(-45deg);
}
  

  