@use 'header-about';
@use 'footer-about';
@use 'buttons-about';
@use 'primary-logos-about';


*, :after, :before { box-sizing: border-box; }

/* Proměnné */
$c-background:rgb(247, 219, 181); 
$c-lines:rgb(166, 100, 15);
$c-h1: rgb(240, 226, 207);
$c-primary: rgb(240, 226, 207);
$c-text: #4f190b;
$gap-row: 20px;


body {margin: 0;
    font-family: 'Montserrat', sans-serif; 
    background-color: $c-background;}



.main {
    border: 2px solid $c-text;
    position: relative;
    z-index: 1;
    top: -45px;
    bottom: 150px;
    background-color: $c-primary; 
    display:grid;
    width: 90vw;
    min-height: 50vh;
    margin-left: auto;
    margin-right:auto;
   
    @media screen and (min-width: 1000px) {
        grid-template-columns: 5% repeat(6, 1fr) 5%; }}

        

  





    
